body{
   background-color: #7bed9f;
   font-family: 'Poppins', sans-serif;
}
h1{
   font-family: Comfortaa, cursive;
}
.main{
   margin-top: 80px;
  
}
.container{
   width: 360px;
   min-height: 400px;
   padding: 33px;
   text-align: center;
   background-color: #fff; 
   border-radius: 20px;
   margin-left: 33%;
   margin-top: 5px;
}
input{
   width: 270px;
   padding: 8px;
   border: 2px solid rgb(6, 145, 145);
   outline: none;
   font-size: 19px;
   margin-top: 30px;

}
button{
   width: 60px;
   height: 41px;
   background-color: rgb(4, 29, 29);
   color: white;
   border: none;
   cursor: pointer;
   margin-top: 30px;
   outline: none;
   border-radius: 2px;
   font-size: 19px;
}
.text ul{
   position: relative;
   background-color: rgb(107, 29, 95);
   color: white;
   font-size: 19px;
   border-radius: 10px;
   padding: 7px;
   text-align: left;
}
#edit{
   position:absolute;
   right: 40px;
   cursor: pointer;
}

#del{
    position:absolute;
    right: 5px;
    
}